<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>实时数据展示</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/atom.png}"/>
    <style>
        body{
            font-family: 'trebuchet MS', 'Lucida sans', Arial;
        }
        .diy {
            margin: 10px auto;
            font-size: 20px;
            color: #ffc20e;
        }
        .caption{
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <h2><a class="navbar-brand" href="index.html">空分流程</a></h2>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right torq-menu">
                <li><a href="index.html">主页</a></li>
                <li><a id="" href="about.html">OPC实时数据展示</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">项目<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">新产品</a></li>
                        <li><a href="#">新概念</a>></li>
                    </ul>
                </li>
                <li><a href="contact.html">联系我</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="clearfix"></div>
    </div><!-- /.container-fluid -->
</nav>

<table class="table table-striped table-bordered diy">
    <caption class = "caption">&middot;&nbsp;OPC实时数据展示&nbsp;&middot;</caption>
    <thead>
    <tr>
        <th>列名</th>
        <th>温度（&#8451;）</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>最近更新时间</td>
        <td th:id="time1" th:text="${time}"></td>
    </tr>
    <tr>
        <td>MachineA</td>
        <td th:id="time1" th:text="${MachineA}"></td>

    </tr>
    <tr>
        <td>MachineB</td>
        <td th:id="MachineB1" th:text="${MachineB}"></td>
    </tr>
    <tr>
        <td>MachineC</td>
        <td th:id="MachineC1" th:text="${MachineC}"></td>
    </tr>
    <tr>
        <td>MachineD</td>
        <td th:id="MachineD1" th:text="${MachineD}"></td>
    </tr>
    <tr>
        <td>MachineE</td>
        <td th:id="MachineE1" th:text="${MachineE}"></td>
    </tr>
    <tr>
        <td>MachineF</td>
        <td th:id="MachineF1" th:text="${MachineF}"></td>
    </tr>
    </tbody>
</table>

<script th:inline="javascript">

    function refresh() {
        option = $(function () {
            $.ajax({
                url: "/demosource",
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $('#MachineA1').html(data[0].machineA);
                    $('#MachineB1').html(data[0].machineB);
                    $('#MachineC1').html(data[0].machineC);
                    $('#MachineD1').html(data[0].machineD);
                    $('#MachineE1').html( data[0].machineE);
                    $('#MachineF1').html(data[0].machineF);
                    $('#time1').html(data[0].time);

                }
            })
        })
    }

    $(function () {
        setInterval('refresh()', 1000);
    });
</script>
<div  style = "margin-bottom: 20px"> </div>
<div id="alldata" style="height:500px;min-height:100px;margin-top: 50px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('alldata'));
    var option = {
        title: {
            text: '历史数据展示'
        },
        tooltip: {
            trigger: 'axis'

        },
        dataZoom: [
            {
                type: 'slider',    //支持鼠标滚轮缩放
                start: 0,            //默认数据初始缩放范围为10%到90%
                end: 100
            },
            {
                type: 'inside',    //支持单独的滑动条缩放
                start: 0,            //默认数据初始缩放范围为10%到90%
                end: 100
            }
        ],
        legend: {
            data: ['机器A', '机器B', '机器C', '机器D', '机器E', '机器F']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: []
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '机器A',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: '机器B',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: '机器C',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: '机器D',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: '机器E',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: '机器F',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            }
        ]

    };
    myChart.setOption(option);
    myChart.showLoading();
    var time2 = [];
    var machineA2 = [];
    var machineB2 = [];
    var machineC2 = [];
    var machineD2 = [];
    var machineE2 = [];
    var machineF2 = [];
    $.ajax({
        url: "/historyDataSource",
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            if (data != null) {
                for (var i in data) {
                    time2.push(data[i].time);
                    machineA2.push(data[i].machineA);
                    machineB2.push(data[i].machineB);
                    machineC2.push(data[i].machineC);
                    machineD2.push(data[i].machineD);
                    machineE2.push(data[i].machineE);
                    machineF2.push(data[i].machineF);
                }
                myChart.hideLoading();
                myChart.setOption({

                    xAxis: [
                        {
                            data: time2
                        }
                    ],
                    series: [
                        {
                            name: '机器A',
                            data: machineA2
                        },
                        {
                            name: '机器B',
                            data: machineB2
                        },
                        {
                            name: '机器C',
                            data: machineC2
                        },
                        {
                            name: '机器D',
                            data: machineD2
                        },
                        {
                            name: '机器E',
                            data: machineE2
                        },
                        {
                            name: '机器F',
                            data: machineF2
                        }
                    ]

                });
            }
            else {
                alert("图表请求数据为空，可能服务器数据异常，您可以稍后再试！");
                myChart.hideLoading();
            }
        },

        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败，可能是服务器开小差了");
            myChart.hideLoading();

        }
    });
    $(function() {var fresh = setInterval(function update(){
        var option1 = $(function (){
            $.ajax({
                url: "/demosource",
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    machineA2.shift();
                    machineA2.push(data[0].machineA);
                    machineB2.shift();
                    machineB2.push(data[0].machineB);
                    machineC2.shift();
                    machineC2.push(data[0].machineC);
                    machineD2.shift();
                    machineD2.push(data[0].machineD);
                    machineE2.shift();
                    machineE2.push(data[0].machineE);
                    machineF2.shift();
                    machineF2.push(data[0].machineF);
                    myChart.setOption({

                        xAxis: [
                            {
                                data: time2
                            }
                        ],
                        series: [
                            {
                                name: '机器A',
                                data: machineA2
                            },
                            {
                                name: '机器B',
                                data: machineB2
                            },
                            {
                                name: '机器C',
                                data: machineC2
                            },
                            {
                                name: '机器D',
                                data: machineD2
                            },
                            {
                                name: '机器E',
                                data: machineE2
                            },
                            {
                                name: '机器F',
                                data: machineF2
                            }
                        ]});
        }})})},5000);});

</script>
</body>
</html>